<?php
/*
 * Config values for git_post_receive.php 
 */

$tracking_branch = '';  // which branch to track
$repo_location = '';    // where the git repo to update is located
$repo_user = '';  // the user who owns the git repo (apache must be able to sudo as user)
$admin_email = '';  // email address to contact for errors and every commit

$debug = false; // turn on to output debugging code into error_log

if (empty($tracking_branch) || empty($repo_location) || empty($repo_user) || empty($admin_email)) {
    die(error_log('missing a required config variable'));
}
?>
